@model POSystem.Domain.Entities.PaginatedList<POSystem.Domain.DTOs.GetOrderDto>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h3 class="text-center pt-4">ORDER LIST</h3>
    <div class="row pt-2">
        <div class="col-8">
            <a asp-controller="Orders" asp-action="Create" class="btn btn-primary fw-semibold">
                Create
                &nbsp;
                <i class="bi bi-plus-circle"></i>
            </a>
        </div>
        
        <div class="col-4 text-end">
            <form asp-action="Index" method="get" class="d-flex">
                <input class="form-control me-sm-2" type="text" name="searchQuery" placeholder="Search" value="@ViewData["SearchQuery"]">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="pt-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        REF. ID
                    </th>
                    <th>
                        PO NO
                    </th>
                    <th>
                        PO DATE
                    </th>
                    <th>
                        SUPPLIER
                    </th>
                    <th>
                        EX.DATE
                    </th>
                    <th>
                        EDIT
                    </th>
                    <th>
                        DELETE
                    </th>
                    <th>
                        EXPORT
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Items)
                {
                    <tr class="table-primary">
                        <td>
                            @Html.DisplayFor(modelItem => order.ReferenceId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.PurchaseOrderNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.PlacedAtUtc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.SupplierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.ExpectedDate)
                        </td>
                        <td>
                            <a asp-controller="Orders" asp-action="Edit" asp-route-id="@order.Id"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td>
                            <a asp-controller="Orders" asp-action="Delete" asp-route-id="@order.Id"><i class="bi bi-trash3"></i></a>
                        </td>
                        <td>
                            <a asp-controller="Orders" asp-action="Export" asp-route-id="@order.Id"><i class="bi bi-box-arrow-in-down"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="mt-5 row">
        <ul class="pagination">

            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <li class="page-item @prevDisabled">
                <a class="page-link" asp-action="Index" asp-route-pageNo="@(Model.PageIndex-1)" asp-route-pageSize="@(Model.PageSize)" asp-route-searchQuery="@ViewData["SearchQuery"]">&laquo;</a>
            </li>
            @if (Model.PageIndex - 2 >= 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageNo="@(Model.PageIndex-2)" asp-route-pageSize="@(Model.PageSize)" asp-route-searchQuery="@ViewData["SearchQuery"]">@(Model.PageIndex - 2)</a>
                </li>
            }
            @if(Model.PageIndex-1 >= 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageNo="@(Model.PageIndex-1)" asp-route-pageSize="@(Model.PageSize)" asp-route-searchQuery="@ViewData["SearchQuery"]">@(Model.PageIndex - 1)</a>
                </li>
            }
            <li class="page-item active">
                <a class="page-link" asp-action="Index" asp-route-pageNo="@(Model.PageIndex)" asp-route-pageSize="@(Model.PageSize)" asp-route-searchQuery="@ViewData["SearchQuery"]">@(Model.PageIndex)</a>
            </li>
            @if(Model.PageIndex+1 < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageNo="@(Model.PageIndex+1)" asp-route-pageSize="@(Model.PageSize)" asp-route-searchQuery="@ViewData["SearchQuery"]">@(Model.PageIndex + 1)</a>
                </li>
            }
            @if (Model.PageIndex + 2 < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageNo="@(Model.PageIndex+2)" asp-route-pageSize="@(Model.PageSize)" asp-route-searchQuery="@ViewData["SearchQuery"]">@(Model.PageIndex + 2)</a>
                </li>
            }
            <li class="page-item @nextDisabled">
                <a class="page-link" asp-action="Index" asp-route-pageNo="@(Model.PageIndex+1)" asp-route-pageSize="@(Model.PageSize)" asp-route-searchQuery="@ViewData["SearchQuery"]">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
